{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolha a vacina e o horario disponivel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{ request.user.perfil_paciente.nome}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
            aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home_paciente' %}">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cartao-vacina' %}">Cartão de Vacinas</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'agendavacina' %}">Agendar Vacina</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Outros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'cadastrar-vacina-paciente' %}">Cadastrar Vacina</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text">
                <a href="{% url 'deslogar' %}">Sair</a>
            </span>
        </div>
    </nav>
    <br>

    <div style="margin-left: 20px;">
    <h2>Informações da US</h2>
    <p>{{us.nome}}</p>
    <p>{{us.endereco}}, {{us.cidade}} / {{us.uf}}</p>

    <table border="1">
        <tr>
            <th>Data disponivel vacinação</th>
            <th>Turno</th>
        </tr>
        {% for pervac in periodo %}
        <tr>
            <td>{{pervac.data}}</td>
            <td>{{pervac.turno}}</td>
        </tr>
        {% endfor %}
    </table>
    <br> <br>

    {% if valido %}
    <script>
        alert("Vacina cadastrada com sucesso")
    </script>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend> Agendar Vacina </legend>

            <label>Vacina</label>
            <select name="vacinas" id="vacina" required>
                <option value="" selected disabled hidden>Selecione</option>
                {% for vac in vacina %}
                {% if vac.qt_vacinas != 0 %}
                <option value="{{vac.pk}}">{{vac.nome}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <br><br>
            <label>Data</label>
            <select name="date" id="date" required>
                <option value="" selected disabled hidden>Selecione</option>
                {% for pervac in periodo %}
                <option value="{{pervac.data}}">{{pervac.data}}</option>
                {% endfor %}
            </select>
            <br><br>
            <label>Turno</label>
            <select name="turno" id="turno" required>
                <option value="" selected disabled hidden>Selecione</option>
                {% for pervac in periodo %}
                <option value="{{pervac.turno}}">{{pervac.turno}}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit">Agendar</button>



        </fieldset>
    </form>
    <br><br>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>