<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{ request.user.perfil_profissional.unidade_saude.nome}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home_profissional' %}">Página Inicial<span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'estoquevacinas' %}">Vacinas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'periodovacina' %}">Periodo de Vacinas</a>
            </li>
          </ul>
          <span class="navbar-text">
            <a href="{% url 'deslogar' %}">Sair</a>
          </span>
        </div>
      </nav>
      <br>

    {% if valido %}
    <script>
        alert("Unidade de saúde cadastrada com sucesso")
    </script>
    {% endif %}

    <div style="margin-left: 10px;">
    <form  method="POST">
        {% csrf_token %}
        
        <h2> Informações do Agendamento</h2>
       <p>Vacina: {{agendamento.vacina.nome }}</p>
       <p>Nome do paciente: {{agendamento.paciente.nome}}</p>
       <p>Data: {{agendamento.data_agendada}}</p>
       <p>Turno: {{agendamento.turno}}</p>
       
       <h3> A vacina foi aplicada?</h3>
       <br>
       <button type="submit" class ="btn btn-success" name="yes" value="Search">Vacina aplicada</button>
       <button type="submit" class="btn btn-warning" name="no" value="Search">Paciente não compareceu</button>
    
    </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>